body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica, Arial, sans-serif;
}
/* img component */
.imgStyle{
  max-width: 250px;
  max-height: 100px;
}
/* search component */
.btnSearch{
  background: #00bbcc;
  color: black;
  width: 50px;
  border: 2px solid #ffd480;
  border-radius: 0 25px 25px 0;
}
.btnSearch:focus{
  background: #00a3b2;
  box-shadow: none !important;
  border: none !important;
  outline: none;
}
.input-group .form-control{
  border: 2px solid #ffd480;
  border-right: none;
  box-shadow: none !important;
  border-radius: 25px;
  font: 0.9em sans-serif;
}
.input-group .form-control:focus{
  border: 2px solid #ffd480;
  border-right: none;
  box-shadow: none !important;
}
/* signIn and signUp component */
.signinBtn {
 font: 1em sans-serif;
}
.signinBtn:hover {
  background:#ffd480;
  border-radius: 25px;
}
.registerBtn {
font: 1em sans-serif;
}
.registerBtn:hover {
  background:#ffd480;
  border-radius: 25px;
}
.cartBtn:hover{
background:#ffd480;
border-radius: 25px;
}
/* user profile dropdown component */
#collasible-nav-dropdown{
  padding-top: 12px;
  padding-right: 2px;
  padding-left: 2px;
  font: 1em sans-serif; 
  color: black;
}
#collasible-nav-dropdown:hover{
  background:#ffd480;
  border-radius: 25px;
}
.imgAvater{
  width: 50px;
  height: 50px;
}
.avatar button{
  outline: none ;
  border: none ;
  background: none;
}
.avatar button:focus{
  outline: none ;
  border: none ;
  background: none;
}
.divider-hr{
  background-color: #ffd480;
}
/* menueHeader component */
.menueHedr{
  margin-top: 78px;
  border-bottom: 1px solid #cecece;
  box-shadow: 0 2px 2px -2px #ffd480;
  padding: 1px;
}
.btn-group .btn{
  font-size: 15px;
}
.btn-group:hover{
  background-color: #ffd480;
  color: #00a3b2;
  border-radius: 25px;
}
.btn-group .btn:focus{
  box-shadow: none !important;
  outline: none;
}
.dropdown-menu .dropdown-item{
  font: 0.8em sans-serif;
  color: black;
}
.dropdown-menu .dropdown-item:hover{
  border: 2px solid #ffd480;
}

/* carousel component */
/* .crousel{
   margin-top: -20px; 
} */

/* productHomeScreen */
.productList .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.productList .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.productName{
  color: #404040;
  padding-top: 14px;
  margin-bottom: 0px;
  text-decoration: none;
}
.productPrice{
  color: #000;
  font-weight: 500;  
  font-size: 18px;
}
#productLink{
  text-decoration: none;
}
.productName:hover{
  text-decoration: underline;
  text-decoration-color: #ffd480;
}
.productPrice:hover{
  text-decoration: underline;
  text-decoration-color: #ffd480;
}
.img-hover-zoom {
  overflow: hidden;
} 
/* [1.2] Hide the overflowing of child elements */
/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
} 
/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
} 

/* footrScreen */
/* .page-footer{
  padding-top: 200px;
} */

.color-socialMedia{
  background: #00bbcc;
}
.fa-facebook-f{
  color: #ffd480;
  font-size: 25px;
}
.fa-youtube{
  color: #ffd480;
  font-size: 25px;
}
.fa-pinterest{
  color: #ffd480;
  font-size: 25px;
}
.fa-instagram{
  color: #ffd480;
  font-size: 25px;
}
.color-hr{
  background-color: #ffd480;
  width: 50px;
}
.list-unstyled a{
  color: black;
}
.list-unstyled a:hover{
color: black;
text-decoration-color: #ffd480;
}
.foot-desc li:hover{
  text-decoration: underline;
  text-decoration-color: #ffd480;
}
.footer-copyright a{
  color: black;
}
/* aboutScreen */
.aboutUs{ 
  padding-top:50px;
}
.aboutUsParagragh{
  color: #00a3b2;
}
/* productDetailsScreen */
@import "~react-image-gallery/styles/css/image-gallery.css";
.image-gallery-play-button {
 color: #00a3b2;
}
.image-gallery-fullscreen-button {
  color: #00a3b2;
 }
 .image-gallery-thumbnail {
 border:1px solid black !important;
}
.image-gallery-svg {
  width: 22px !important;
  color: #00a3b2;
 }
.slider {
  height:450px ;
}
.productDetails{
  padding-top: 50px;
}
.breed{
margin-left:-35px;
}
.breed ul{
  padding-bottom: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.breed ul li{
  list-style: none;
  margin-right: 0px;
  display: flex;
  align-items: center;
}
.breed ul li a{
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 5px;
}
.breed ul li .pathCategoryName{
  color:#007580;
}
.breed ul li .pathProductName{
  color:#007580;
}
.instock{
  position: absolute;
  top:80px;
  right: 18px;
  color: #007580;
}
.discount{
  font-size:16px;
  font-weight: 700;
  color: #000;
}
.price{
  text-decoration: line-through;
  font-size:14px;
  font-weight: 500;
  color:#666666;
  padding: 12px;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
/* Material Button */
.btnForAll{
  color: black;
  background:#00bbcc ;
  border: 2px solid #ffd480;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:18px;
  border-radius: 25px;
}
.btnForAll:hover{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.btnForAll:focus{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.textCart{
  padding-left: 12px;
}
.classic-tabs{
  margin-bottom: 200px;
  height: 350px;
}
.classic-tabs .nav-item .nav-link{
  color:#007580;
  margin-bottom: -25px;
}
.classic-tabs .nav-item .nav-link:hover{
  background-color: #ffd480;
  border-radius: 25px;
}
.table-responsive label{
  font-size: 12px;
}
.table-responsive {
  padding-top: 5px;
}
.table-responsive select{
  box-shadow: none !important;
}
#comment1{
  box-shadow: none !important;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
.star{
  cursor: pointer;
  transition: color 200ms;
}
.rattingInput{
  display: none;
}
#comment{
  box-shadow: none !important;
  color: black;
  }
.btnReview{
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 8px 20px;
  border: 2px solid #ffd480;
  background: #00bbcc;
  border-radius: 25px;
}
.btnReview:hover{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.btnReview:focus{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.reviewSignin{
  font: 1em sans-serif;
  color: #000;
}
.linkSigninReview{
  color: #008c99;
  text-decoration: underline;
  text-decoration-color:#ffd480 ;
}
.linkSigninReview:hover{
  color: #000 !important;
} 
.material{
  width: 3%;
  padding-right: 5px;
  font-size: 14px;
}
.fa-hand-stop-o{
  padding-right: 5px;
}
.materialText{
font-size: 14px;
}
.madeByText{
  font-size: 14px;
}
.productDescription{
  font-size: 14px;
}
.tittleDescription{
  padding-top: 8px;
}
#info{
  padding-top: 8px;
}
.productName{
  font-size: 18px;
  padding-top: 2px;
}
.addYourPersonalisation{
font: 0.8em sans-serif;
}
.addYourPersonalisation1{
  font: 0.8em sans-serif;
}
.priceSaved{
  margin-top: -15px;
  font-size:12px;
  color: #007580;
}
/* cartDetailsScreen */
.cartDetails{
  padding-top: 2px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  font-size: 16px;
}
.continueShopping{
  padding-left: 1px;
  padding-right: 12px;
  font-size: 16px;
}
.card-body{
  font-size: 14px;
}
.numItemTittle{
  font: 1.6em sans-serif;
}
.itemTittle{
  font: 1.2em sans-serif;
}
.removeBtn {
color: #000;
background: none;
border: none;
}
.removeBtn:hover {
  outline:none;
  background: #ffd480;
  border-radius: 25px;
}
.removeBtn:focus {
  outline:none;
  background: #ffd480;
  border-radius: 25px;
}
.card-link{
  color: #000;
}
.card-link:focus {
  outline:none;
  background: #ffd480;
  border-radius: 25px;
}
.card-link:hover {
  color: #000;
  outline:none;
  background: #ffd480;
  border-radius: 25px;
}
.itemPriceCart{
  font: 1.2em sans-serif;
}
.weAccept{
  font: 1.6em sans-serif;
}
.Subtotal{
  font: 1.2em sans-serif;
}
/* .quantityControl{
  display: flex;
  align-items: center;
}
.quantityControl button{
  font: 1.3em sans-serif;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: none;
  border: 2px solid #ffd480;
  background: #00bbcc;
  text-align: center;

}
.quantityControl input{
  width: 60px;
  height: 25px;
  border: 1px solid  black;
  border-radius: 25px;
  font: 1.2em sans-serif;
  text-align: center;
} */
.quantity {
  display: inline-block; }
 
 .quantity .input-text.qty {
  width: 35px;
  height: 41px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #ffd480;
 }
 
 .quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top; }
 
 .quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
 }
 
 .quantity.buttons_added .minus,
 .quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #00bbcc;
  border: 2px solid #ffd480;
  cursor:pointer;}
 
 .quantity.buttons_added .minus {
  border-radius: 25px 0 0 25px ;
}
 
 .quantity.buttons_added .plus {
  border-radius: 0 25px 25px 0;
}
 
 .quantity.buttons_added .minus:hover,
 .quantity.buttons_added .plus:hover {
  background: #ffd480; }
 
 .quantity input::-webkit-outer-spin-button,
 .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }
  
  .quantity.buttons_added .minus:focus,
 .quantity.buttons_added .plus:focus {
  outline: none; }
 
 






.addressScreen{
    margin-top: 260px;
  }

.stepNumber{
    color: #00bbcc;
    margin: 5px;
    font: 1.2em sans-serif;
 }
 input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #00bbcc;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}




/* shippingScreen */
.shippingDetails{
  margin-top: 90px;
}
.edit-address{
  font: 1em sans-serif;
  color: #00bbcc;
}
.edit-address:hover{
  text-decoration: underline;
  text-decoration-color: #ffd480;
}
.deliver-address{
  color: black;
  background:#00bbcc ;
  border: 2px solid #ffd480;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:15px;
  border-radius: 25px;
}
.deliver-address:hover{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.deliver-address:focus{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.checkbox1{
  margin-bottom: 30px;
}









/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: 400;
}
.checkout-steps > div.active {
  border-top-color: #ffd480;
  color: black;
}
.shippingTittle{
  font: 1.4em sans-serif;
  padding-top: 30px;
  padding-bottom: -12px;
}
img.small {
  max-width: 4rem;
  width: 100%;
}
.orderItem{
  font: 1.1em sans-serif;
}
.orderItemName{
  font: 0.9em sans-serif;
  margin: 4px;
}
.orderItemDetails{
  font: 1.3em sans-serif;
}
.fa-chevron-down{
  color: #000;
}
.discountCode{
  color: #000;
}
.discountCode:hover{
  color: #000;
  text-decoration: underline;
  text-decoration-color: #ffd480;
}
.shipping-hr{
  background-color: black;
}
/* .page-footerShipping{
 padding-top: 100px; 
} */
.btn1:focus{
  outline:none;
  background: #ffd480;
  border-radius: 25px;
  font: 1em sans-serif;
}
.btn2:focus{
  outline:none;
  background: #ffd480;
  border-radius: 25px;
  font: 1em sans-serif;
}
.btn3:focus{
  outline:none;
  background: #ffd480;
  border-radius: 25px;
  font: 1em sans-serif;
}
.btn4:focus{
  outline:none;
  background: #ffd480;
  border-radius: 25px;
  font: 1em sans-serif;
}
.card-body .form-control{
font: 1em sans-serif;
}
.card-body .form-control:focus{
  box-shadow: none !important;
}
.validPostalCode{
  color: red;
  font: 1em sans-serif;
}
.checkout{
  width: 500px;
  font: 0.8em sans-serif;
}  
/* placeOrderScreen */
.placeOrder{
  margin-top: 190px;
}
.media-body{
  font: 1em sans-serif;
}
.shippingMethod{
  font: 1.6em sans-serif;
  padding-bottom: 1px;
}
.priceShipping{
  font: 1em sans-serif;
}
.checkbox .form-check-label{
  font: 1em sans-serif;
}
/* OrderScreen */
.orderScreen{
  margin-top: 90px;
}
.orderMethod{
  padding-bottom: 12px;
  font: 1.3em sans-serif;
}
/* SignInScreen */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding-top: 20px;
  margin: auto;
  align-items: center;
}
.form-signin .formLabel{
  font: 0.9em sans-serif;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font: 1em sans-serif;
}
.form-signin .form-control:focus{
  box-shadow: none !important;
  outline: none;
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.zz{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.newCustmer{
  font: 0.9em sans-serif;
}
.linkCreateAccount{
  color: #007580;
}
.linkCreateAccount:hover{
  color: black;
  text-decoration: none;
}
/*AdminHomeScreen */
.adminHome{
  padding-top: 80px;
  background-color: #00a3b2;
}
.adminLink{
  color: black;
}
.adminLink:hover{
  background:#ffd480;
  color: #000;
  border-radius: 25px;
}
.adminLin:hover{
  background:#ffd480;
  color: #000;
  border-radius: 25px;
}
/* categoryAdminScreenScreen */
.categoryAdminScreen{
  margin-top: 120px;
}
.categoryActions{
  color: black;
  background:#00bbcc ;
  border: 2px solid #ffd480;
  margin: 3px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: 1em sans-serif;
  border-radius: 25px;
}
.categoryActions:hover{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.categoryActions:focus{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.categoryTittle{
  margin: 3px;
  padding: 5px;
  font: 1.6em sans-serif;
}
.AddNewCategory{
  font: 0.8em sans-serif;
}
.categoryFormLabel{
  margin-bottom: 1px;
  font: 1em sans-serif;
}
.formAddCategory .form-control{
  margin-bottom: 14px;
  padding: 4px;
}
.Button .btnSaveCategory{
  background-color: #000;
}
.EditCategory{
  font: 1em sans-serif;
}
.ParentsCategory{
  font: 0.9em sans-serif;
}
/* productsAdminScreenScreen */
.productAdminScreen{
  margin-top:120px ;
}
.productActions{
  color: black;
  background:#00bbcc ;
  border: 2px solid #ffd480;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: 1em sans-serif;
  border-radius: 25px;
}
.productActions:hover{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.productActions:focus{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.addNewProduct .form-control{
  margin-bottom: 14px;
  padding: 4px;
}
.productFormLabel{
  margin-bottom: 1px;
  font: 1em sans-serif;
}


.orderHistory{
  margin-top: 100px;
  margin-left: 4px;
  margin-right: 4px;
}


.orderTrack{
  margin-top: 60px;
  width: 500px;
  display: flex;
}
.orderStatus{
  width: 33.33%;
  height: 5px;
  background: #26A541;
  position: relative;
  font-size: 12px;
}
.orderStatus:last-child{
  width: 0;
}
.orderStatus .point{
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 8px;
  background-color: #26A541;
  top: -5px;
}
.orderInfo{
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: -26px;
  transform: translateX(-50%);
} 


.card {
  z-index: 0;
  background-color: #ECEFF1;
  padding-bottom: 20px;
  margin-top: 90px;
  margin-bottom: 90px;
  border-radius: 10px
}

.top {
  padding-top: 40px;
  padding-left: 13% !important;
  padding-right: 13% !important
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #455A64;
  padding-left: 0px;
  margin-top: 30px
}

#progressbar li {
  list-style-type: none;
  font-size: 13px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400
}

#progressbar .step0:before {
  font-family: FontAwesome;
  content: "\f10c";
  color: #fff
}

#progressbar li:before {
  width: 40px;
  height: 40px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  background: grey;
  border-radius: 50%;
  margin: auto;
  padding: 0px
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 12px;
  background: gray;
  position: absolute;
  left: 0;
  top: 16px;
  z-index: -1
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: -50%
}

#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after,
#progressbar li:nth-child(4):after {
  left: -50%
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 50%
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #007580
}

#progressbar li.active:before {
  font-family: FontAwesome;
  content: "\f00c"
}

.icon {
  width: 60px;
  height: 60px;
  margin-right: 15px
}

.icon-content {
  padding-bottom: 20px
}

@media screen and (max-width: 992px) {
  .icon-content {
      width: 50%
  }
}

.u{
  width: 400px;
}


.formProfileUser{
  margin-top: 100px;
}
.userList{
  margin-top: 100px;

}

.btnEditUser{
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  padding: 8px 20px;
  border: 2px solid #ffd480;
  background: #00bbcc;
  border-radius: 25px;
}
.btnEditUser:hover{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.btnEditUser:focus{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}

/* crouselAdminScreen */
.crouselAdminScreen{
  margin-top:120px ;
}
