body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica, Arial, sans-serif;
}
/* img component */
.imgStyle{
  max-width: 250px;
  max-height: 100px;
}
/* search component */
.btnSearch{
  background: #00bbcc;
  color: black;
  width: 50px;
  border: 2px solid #ffd480;
  border-radius: 0 25px 25px 0;
}
.btnSearch:focus{
  background: #00a3b2;
  box-shadow: none !important;
  border: none !important;
  outline: none;
}
.input-group .form-control{
  border: 2px solid #ffd480;
  border-right: none;
  box-shadow: none !important;
  border-radius: 25px;
}
.input-group .form-control:focus{
  border: 2px solid #ffd480;
  border-right: none;
  box-shadow: none !important;
}
/* signIn and signUp component */
.signinBtn:hover {
  background:#ffd480;
  border-radius: 25px;
}
.registerBtn:hover {
  background:#ffd480;
  border-radius: 25px;
}
.cartBtn:hover{
background:#ffd480;
border-radius: 25px;
}
/* user profile dropdown component */
#collasible-nav-dropdown{
  padding-top: 9px;
  padding-right: 2px;
  padding-left: 2px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}
#collasible-nav-dropdown:hover{
  background:#ffd480;
  border-radius: 25px;
}
.divider-hr{
  background-color: #ffd480;
}
/* menueHeader component */
.menueHedr{
  margin-top: 78px;
  border-bottom: 1px solid #cecece;
  box-shadow: 0 2px 2px -2px #ffd480;
  padding: 1px;
}
.btn-group .btn{
  font-size: 15px;
}
.btn-group:hover{
  background-color: #ffd480;
  color: #00a3b2;
  border-radius: 25px;
}
.btn-group .btn:focus{
  box-shadow: none !important;
  outline: none;
}
.dropdown-menu .dropdown-item{
  font-size: 12px;
  color: black;
}
.dropdown-menu .dropdown-item:hover{
  border: 2px solid #ffd480;
}

/* carousel component */
/* .crousel{
   margin-top: -20px; 
} */

/* productHomeScreen */
.productList .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.productList .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.productName{
  color: #404040;
  padding-top: 14px;
  margin-bottom: 0px;
  text-decoration: none;
}
.productPrice{
  color: #000;
  font-weight: 500;  
  font-size: 18px;
}
#productLink{
  text-decoration: none;
}
.productName:hover{
  text-decoration: underline;
  text-decoration-color: #ffd480;
}
.productPrice:hover{
  text-decoration: underline;
  text-decoration-color: #ffd480;
}
.img-hover-zoom {
  overflow: hidden;
} 
/* [1.2] Hide the overflowing of child elements */
/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
} 
/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
} 

/* footrScreen */
/* .page-footer{
  padding-top: 200px;
} */

.color-socialMedia{
  background: #00bbcc;
}
.fa-facebook-f{
  color: #ffd480;
  font-size: 25px;
}
.fa-youtube{
  color: #ffd480;
  font-size: 25px;
}
.fa-pinterest{
  color: #ffd480;
  font-size: 25px;
}
.fa-instagram{
  color: #ffd480;
  font-size: 25px;
}
.color-hr{
  background-color: #ffd480;
  width: 50px;
}
.list-unstyled a{
  color: black;
}
.list-unstyled a:hover{
color: black;
text-decoration-color: #ffd480;
}
.foot-desc li:hover{
  text-decoration: underline;
  text-decoration-color: #ffd480;
}
.footer-copyright a{
  color: black;
}
/* aboutScreen */
.aboutUs{ 
  padding-top:50px;
}
.aboutUsParagragh{
  color: #00a3b2;
}
/* productDetailsScreen */
@import "~react-image-gallery/styles/css/image-gallery.css";
.image-gallery-play-button {
 color: #00a3b2;
}
.image-gallery-fullscreen-button {
  color: #00a3b2;
 }
 .image-gallery-thumbnail {
 border:1px solid black !important;
}
.image-gallery-svg {
  width: 22px !important;
  color: #00a3b2;
 }
.slider {
  height:450px ;
}
.productDetails{
  padding-top: 50px;
}
.breed{
margin-left:-35px;
}
.breed ul{
  padding-bottom: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.breed ul li{
  list-style: none;
  margin-right: 0px;
  display: flex;
  align-items: center;
}
.breed ul li a{
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 5px;
}
.breed ul li .pathCategoryName{
  color:#007580;
}
.breed ul li .pathProductName{
  color:#007580;
}
.instock{
  position: absolute;
  top:80px;
  right: 18px;
  color: #007580;
}
.discount{
  font-size:16px;
  font-weight: 700;
  color: #000;
}
.price{
  text-decoration: line-through;
  font-size:14px;
  font-weight: 500;
  color:#666666;
  padding: 12px;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
/* Material Button */
.btnForAll{
  color: black;
  background:#00bbcc ;
  border: 2px solid #ffd480;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:18px;
  border-radius: 25px;
}
.btnForAll:hover{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.btnForAll:focus{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
  outline:none !important;
  text-decoration: none;
  color: #000;
}
.textCart{
  padding-left: 12px;
}
.classic-tabs{
  padding-top: 2px;
  margin-bottom: 12px;
  height: 350px;
}
.classic-tabs .nav-item .nav-link{
  color:#007580;
  padding-bottom: 0px;
  margin-bottom: -25px;
}
.classic-tabs .nav-item .nav-link:hover{
  background-color: #ffd480;
  border-radius: 25px;
}
.table-responsive label{
  font-size: 12px;
}
.table-responsive {
  padding-top: 5px;
}
.table-responsive select{
  box-shadow: none !important;
}
#comment1{
  box-shadow: none !important;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
.star{
  cursor: pointer;
  transition: color 200ms;
}
.rattingInput{
  display: none;
}
#comment{
  box-shadow: none !important;
  color: #007580;
  }
.btnReview{
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 8px 20px;
  border: 2px solid #ffd480;
  background: #00bbcc;
  border-radius: 25px;
}
.reviewSignin{
  font: 1em sans-serif;
  color: #000;
}
.linkSigninReview{
  color: #008c99;
  text-decoration: underline;
  text-decoration-color:#ffd480 ;
}
.linkSigninReview:hover{
  color: #000 !important;
} 
.material{
  width: 3%;
  padding-right: 5px;
  font-size: 14px;
}
.fa-hand-stop-o{
  padding-right: 5px;
}
.materialText{
font-size: 14px;
}
.madeByText{
  font-size: 14px;
}
.productDescription{
  font-size: 14px;
}
.tittleDescription{
  padding-top: 8px;
}
#info{
  padding-top: 8px;
}
.productName{
  font-size: 18px;
  padding-top: 2px;
}
.addYourPersonalisation{
  font-size: 10px;
}
.priceSaved{
  margin-top: -15px;
  font-size:12px;
  color: #007580;
}
/* cartDetailsScreen */
.cartDetails{
  padding-top: 2px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  font-size: 16px;
}
.continueShopping{
  padding-left: 1px;
  padding-right: 12px;
  font-size: 16px;
}
.card-body{
  font-size: 14px;
}
.numItemTittle{
  font: 1.6em sans-serif;
}
.itemTittle{
  font: 1.6em sans-serif;
}
.removeBtn {
color: #000;
background: none;
border: none;
}
.removeBtn:focus {
  outline:none;
  background: #ffd480;
  border-radius: 25px;
}
.itemPriceCart{
  font: 1.2em sans-serif;
}
.weAccept{
  font: 1.6em sans-serif;
}
.Subtotal{
  font: 1.2em sans-serif;
}
/* shippingScreen */
.shippingDetails{
  margin-top: 90px;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: 400;
}
.checkout-steps > div.active {
  border-top-color: #ffd480;
  color: black;
}
.shippingTittle{
  font: 1.4em sans-serif;
  padding-top: 30px;
  padding-bottom: -12px;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
.orderItem{
  font: 1.1em sans-serif;
}
.orderItemName{
  font: 1.2em sans-serif;
}
.orderItemDetails{
  font: 1.3em sans-serif;
}
.fa-chevron-down{
  color: #000;
}
.discountCode{
  color: #000;
}
.discountCode:hover{
  color: #000;
  text-decoration: underline;
  text-decoration-color: #ffd480;
}
.shipping-hr{
  background-color: black;
}
/* .page-footerShipping{
 padding-top: 100px; 
} */
.btn1:focus{
  outline:none;
  background: #ffd480;
  border-radius: 25px;
  font: 1em sans-serif;
}
.btn2:focus{
  outline:none;
  background: #ffd480;
  border-radius: 25px;
  font: 1em sans-serif;
}
.btn3:focus{
  outline:none;
  background: #ffd480;
  border-radius: 25px;
  font: 1em sans-serif;
}
.btn4:focus{
  outline:none;
  background: #ffd480;
  border-radius: 25px;
  font: 1em sans-serif;
}
.card-body .form-control{
font: 1em sans-serif;
}
.card-body .form-control:focus{
  box-shadow: none !important;
}
.validPostalCode{
  color: red;
  font: 1em sans-serif;
}
.checkout{
  width: 500px;
  font: 0.8em sans-serif;
}  
/* placeOrderScreen */
.placeOrder{
  margin-top: 90px;
}
.media-body{
  font: 1em sans-serif;
}
.shippingMethod{
  font: 1.3em sans-serif;
  padding-bottom: 1px;
}
.priceShipping{
  font: 1em sans-serif;
}
.checkbox .form-check-label{
  font: 1em sans-serif;
}
/* OrderScreen */
.orderScreen{
  margin-top: 90px;
}
.orderMethod{
  padding-bottom: 12px;
  font: 1.3em sans-serif;
}
/* SignInScreen */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding-top: 20px;
   margin: auto;
   align-items: center;
}
.form-signin .formLabel{
  font: 0.9em sans-serif;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font: 1em sans-serif;
}
.form-signin .form-control:focus{
  box-shadow: none !important;
  outline: none;
  z-index: 2;

}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.zz{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.newCustmer{
  font: 0.9em sans-serif;
}
.linkCreateAccount{
  color: #007580;
}
.linkCreateAccount:hover{
  color: black;
  text-decoration: none;

}
















.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #eee;
  padding: 0;
  padding-top: 60px;
  box-shadow: inset 0 0 2px gray;
}
.sidebar a{
  display: block;
}
.sidebar ul{
  margin: 0;
  padding: 0;
}
.sidebar ul li{
  list-style: none;
}
.sidebar ul li a{
  display: block;
  color: #333;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 5px 0 5px 10px;
  border-radius: 5px 0 0 5px;
  text-decoration: none;
}
.sidebar ul li a.active{
  background: #333;
  color: #fff;
}

.productContainer{
  width: 200px;
  margin: 0 10px;
}

.productContainer .productImgContainer{
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  margin: 10px auto;
}
.productContainer .productImgContainer img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.productInfo{
  text-align: center;
  font-size: 12px;
} 

  


/* Rating */
/* 

.form-inline{
  margin-left: 40%;

}

.searchInputContainer {
  width: 565px;
  position: relative;
  background: #fff;
  height: 38px;
  border-radius: 1px;
  overflow: hidden;
  display: flex;
  margin-left: 30px;

}
.searchInput {
  width: 518px;
  height: 38px;
  box-sizing: border-box;
  padding: 0 10px;
  border-color: #00a3b2;
  border-radius: 50px 5px 5px 50px ; 
}
.searchIconContainer {
  margin-left: -2px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #00a3b2; 
  border-radius: 5px 50px 50px 5px;
} */
  



/* 

  
  

  .success {
    color: #20a020;
  }
  .danger {
    color: #a02020;
  }
  .color-primary{
    background-color: lightgray;
  }
   */

 

  /* Point-zoom Container */
/* .img-hover-zoom--point-zoom img {
  transform-origin: 65% 75%;
  transition: transform 1s, filter .5s ease-out;
} */

/* The Transformation */
/* .img-hover-zoom--point-zoom:hover img {
  transform: scale(5);
}

.App .sampleImage {
  height: 300px;
  width: 600px;
  cursor: crosshair; }

.App .image-container .frame {
  height: 100px;
  width: 200px;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none; }

.App .image-container .zoomedImageContainer {
  height: 300px;
  width: 600px;
  overflow: hidden;
  position: absolute;
  background-position: 0 0; }

.App .image-container.right {
  text-align: right; }

  .imgf{
    width:200px;height:200px;

  
      }
  .imgContainer img{
    width: 100px;
    height: 100px;
    margin-left: 16px;
  }
  .imgContainer{
  display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding: 4px 0 0 0 ;
}

.selectedQty{
  width:70px;
  height: 60px;
} */

/* Form */
/* .formShipping {
  width: 500px;
  max-width: 60rem;
  margin: 0 auto;
}
.formShipping > div {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}
.formShipping label {
  margin: 0.5rem 0;
}
.formSin {
  width: 500px;
  max-width: 60rem;
  margin: 0 auto;
}
.formSin > div {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}
.formSin label {
  margin: 0.5rem 0;
}

.formPayment{
  width: 500px;
  max-width: 60rem;
  margin: 0 auto;
}
.formPayment > div {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}
.formPayment label {
  margin: 1rem 0;
}
.formPayment input{
  margin-right: 10px;
} 

.contain{
  padding-top: 100px;
  width: 500px;
  max-width: 60rem;
  margin: 0 auto;
} */

/* Alert */
/* .loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

.min-30 {
  min-width: 30rem;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.imgcas{
  height: 450px;
}
.btn-group{
  font-size: 14px;
  font-weight: 500;
  color: white;

}
.btn-group:hover{
  background-color: #ffd480;
  color: #00a3b2;
} */

/* Form */
/* .formSingup {
  width: 500px;
  max-width: 60rem;
  margin: 0 auto;
}
.formSingup > div {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}
.formSingup label {
  margin: 0.5rem 0;
}
.formSingup {
  width: 500px;
  max-width: 60rem;
  margin: 0 auto;
}
.formSingup > div {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}
.formSingup label {
  margin: 0.5rem 0;
}

.costDeliver{
 position: absolute;
 top:70px;
 right:12px;
}
.listTogle{
  padding-top: 40px;
}


.msg{
  display: none;
}
.msgAppear{
  display: block;
}
.h{
  position: absolute;
  top:120px;
}
 */