body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cart:hover {
color: blue;
}

.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #eee;
  padding: 0;
  padding-top: 60px;
  box-shadow: inset 0 0 2px gray;
}
.sidebar a{
  display: block;
}
.sidebar ul{
  margin: 0;
  padding: 0;
}
.sidebar ul li{
  list-style: none;
}
.sidebar ul li a{
  display: block;
  color: #333;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 5px 0 5px 10px;
  border-radius: 5px 0 0 5px;
  text-decoration: none;
}
.sidebar ul li a.active{
  background: #333;
  color: #fff;
}

.productImgContainer{
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}
.productImgContainer img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.menueHedr{
  padding-top: 80px;
  padding-bottom: 20px;
}
/* .menueHedr{
 
  border-bottom: 1px solid #cecece;
  box-shadow: 0 2px 2px -2px #333;
 
} */

.MenueHeader ul{
  list-style: none;
  margin: 0;
  padding: 10px;
}
.MenueHeader > ul{
  display: flex;
  margin: 0 300px;
  position: relative;
}

.MenueHeader > ul > li > span {
  display: block;
  line-height: 40px;
  cursor: pointer;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;

}
.MenueHeader> ul > li > span:hover{
  color: #2874f0;
}
  
.MenueHeader > ul > li >ul{
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  display: none;
  border: 1px solid #cecece;
}

.MenueHeader > ul > li:hover ul{
  display: block;
}

.MenueHeader > ul > li > ul > li {
  margin: 0 20px;
  float: left;
  min-width: 150px;
}
.MenueHeader > ul > li > ul > li> a {
  font-weight: bold;
  color: #000;
  display: block;
  
}

.MenueHeader > ul > li > ul > li  a {
  padding:3px 0 ;
  font-size: 12px;
  text-decoration: none;
  display: block;
  color: #000;
}

.slugProduct{
  position: absolute;
  top:80px
}
.productContainer{
  width: 200px;
  margin: 0 10px;
}

.productContainer .productImgContainer{
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  margin: 10px auto;
}
.productContainer .productImgContainer img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.productInfo{
  text-align: center;
  font-size: 12px;
}




 
.productDescriptionContainer{
  display: flex;
  box-sizing: border-box;
  padding: 10px;
}
.verticalImageStack{
  width: 67px;
  display: flex;
  flex-direction: column;
}
.thumbnail{
  width: 63px;
  height: 63px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  text-align: center;
}
.thumbnail img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.thumbnail.active{
  border: 2px solid #2874f0;
}
.productDescContainer{
  width: 485px;
}
.productDescImgContainer{
  width: 485px;
  height: 440px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #f0f0f0;
}
.productDescImgContainer > img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.breed ul{
  padding-bottom: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.breed ul li{
  list-style: none;
  margin-right: 5px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
.breed ul li a{
  text-decoration: none;
  color: #777;
  display: inline-block;
  font-size: 12px;
  margin: 0 10px;
}
.productDetails{
  margin: 0 10px;
}
.productDetails .productTitle{
  font-size: 18px;
  color: #212121;
  font-weight: 400;
}
.ratingCount{
  display: inline-block;
  background: #388e3c;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px 5px;
}
.ratingNumbersReviews{
  font-size: 12px;
  color: #777;
  font-weight: 600;
  display: inline-block;
  margin: 0 10px;
}
.extraOffer, .discount{
  color: #388e3c;
  font-size: 12px;
  margin: 10px 0px;
  font-weight: 600;
}
.priceContainer{
  align-items: center;
}
.price{
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
  /* Material Button */
  .btnAddtoCart{
    width: 100%;
    display: inline-block;
    padding: 15px;
    font-size: 15px;
    outline: none;
    background-color: #ff9f00;
    color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    cursor: pointer;
    border-radius: 2px;
}
.btnBuyNow{
  width: 100%;
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  outline: none;
  background-color: #fb641b;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
.btnAddtoCart:hover{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
}
.btnBuyNow:hover{
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
}

/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}

.star{
  cursor: pointer;
  transition: color 200ms;
}
.rattingInput{
  display: none;
}

.form-inline{
  margin-left: 40%;

}
.dropdown{
   padding-right: 1rem;
   margin-right: 6rem;
   margin-top: 0rem;
   font-size: 19px;
}
.dropDown:hover{
  color: blue;

}
.searchInputContainer {
  width: 565px;
  position: relative;
  background: #fff;
  height: 38px;
  border-radius: 1px;
  overflow: hidden;
  display: flex;
  margin-left: 30px;

}
.searchInput {
  width: 518px;
  height: 38px;
  box-sizing: border-box;
  padding: 0 10px;
  border-color: blue;
  border-radius: 50px 5px 5px 50px ; 
}
.searchIconContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: blue; 
  border-radius: 5px 50px 50px 5px;
}
 
  main{
    padding-top: 50px;
  }
  .card-img-top{
    width: 300px;
    height: 200px;
  }

.details{
    padding-top: 120px;
  }
  .success {
    color: #20a020;
  }
  .danger {
    color: #a02020;
  }
  .color-primary{
    background-color: lightgray;
  }
  .classic-tabs{
    padding-top: 50px;
  }

  .img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }

  /* Point-zoom Container */
.img-hover-zoom--point-zoom img {
  transform-origin: 65% 75%;
  transition: transform 1s, filter .5s ease-out;
}

/* The Transformation */
.img-hover-zoom--point-zoom:hover img {
  transform: scale(5);
}

.App .sampleImage {
  height: 300px;
  width: 600px;
  cursor: crosshair; }

.App .image-container .frame {
  height: 100px;
  width: 200px;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none; }

.App .image-container .zoomedImageContainer {
  height: 300px;
  width: 600px;
  overflow: hidden;
  position: absolute;
  background-position: 0 0; }

.App .image-container.right {
  text-align: right; }

  .imgf{
    width:200px;height:200px;

  
      }
  .imgContainer img{
    width: 100px;
    height: 100px;
    margin-left: 16px;
  }
  .imgContainer{
  display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding: 4px 0 0 0 ;
}
@import "~react-image-gallery/styles/css/image-gallery.css";

.selectedQty{
  width:70px;
  height: 60px;
}

/* Form */
.formShipping {
  width: 500px;
  max-width: 60rem;
  margin: 0 auto;
}
.formShipping > div {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}
.formShipping label {
  margin: 0.5rem 0;
}
.formSin {
  width: 500px;
  max-width: 60rem;
  margin: 0 auto;
}
.formSin > div {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}
.formSin label {
  margin: 0.5rem 0;
}

.formPayment{
  width: 500px;
  max-width: 60rem;
  margin: 0 auto;
}
.formPayment > div {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}
.formPayment label {
  margin: 1rem 0;
}
.formPayment input{
  margin-right: 10px;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

.contain{
  padding-top: 100px;
  width: 500px;
  max-width: 60rem;
  margin: 0 auto;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
.min-30 {
  min-width: 30rem;
}
.orderItem{
  width:150px;
  height: 60px;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.imgcas{
  height: 450px;
}
.btn-group{
  font-size: 14px;
  font-weight: 500;

}
.btn-group:hover{
  background-color: blue;
}
.btnCart{
  background-color:blue; /* Green */
border-radius: 25px;  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
/* Form */
.formSingup {
  width: 500px;
  max-width: 60rem;
  margin: 0 auto;
}
.formSingup > div {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}
.formSingup label {
  margin: 0.5rem 0;
}
.formSingup {
  width: 500px;
  max-width: 60rem;
  margin: 0 auto;
}
.formSingup > div {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}
.formSingup label {
  margin: 0.5rem 0;
}
.discount{
  text-decoration: line-through;
  font-size:16px;
  padding: 12px;
}
.costDeliver{
 position: absolute;
 top:70px;
 right:12px;
}
.listTogle{
  padding-top: 40px;
}

.instock{
  position: absolute;
  top:80px;
  right: 18px;
}
.material{
  width: 4%;
  padding-right: 5px;
}
.fa-hand-stop-o{
  padding-right: 5px;
}