body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #eee;
  padding: 0;
  padding-top: 60px;
  box-shadow: inset 0 0 2px gray;
}
.sidebar a{
  display: block;
}
.sidebar ul{
  margin: 0;
  padding: 0;
}
.sidebar ul li{
  list-style: none;
}
.sidebar ul li a{
  display: block;
  color: #333;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 5px 0 5px 10px;
  border-radius: 5px 0 0 5px;
  text-decoration: none;
}
.sidebar ul li a.active{
  background: #333;
  color: #fff;
}

.productImgContainer{
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}
.productImgContainer img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.MenueHeader{
  width: 100%;
  height: 100px;
  background: #fff;
  border-bottom: 1px solid #cecece;
  box-shadow: 0 2px 2px -2px #333;
  padding-top: 50px;
}

.MenueHeader ul{
  list-style: none;
  margin: 0;
  padding: 10px;
}
.MenueHeader > ul{
  display: flex;
  margin: 0 300px;
  position: relative;
}

.MenueHeader > ul > li > span {
  display: block;
  line-height: 40px;
  cursor: pointer;
  padding: 0 20px;
  font-size: 14px;
}
.MenueHeader> ul > li > span:hover{
  color: #2874f0;
}
  
.MenueHeader > ul > li >ul{
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  display: none;
  border: 1px solid #cecece;
}

.MenueHeader > ul > li:hover ul{
  display: block;
}

.MenueHeader > ul > li > ul > li {
  margin: 0 20px;
  float: left;
  min-width: 150px;
}
.MenueHeader > ul > li > ul > li> a {
  font-weight: bold;
  display: block;
  
}

.MenueHeader > ul > li > ul > li  a {
  padding:3px 0 ;
  font-size: 12px;
  text-decoration: none;
  display: block;
  color: #707070;
}

.slugProduct{
  position: absolute;
  top:80px
}
.productContainer{
  width: 200px;
  margin: 0 10px;
}

.productContainer .productImgContainer{
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  margin: 10px auto;
}
.productContainer .productImgContainer img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.productInfo{
  text-align: center;
  font-size: 12px;
}




 
.productDescriptionContainer{
  display: flex;
  box-sizing: border-box;
  padding: 10px;
}
.verticalImageStack{
  width: 67px;
  display: flex;
  flex-direction: column;
}
.thumbnail{
  width: 63px;
  height: 63px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  text-align: center;
}
.thumbnail img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.thumbnail.active{
  border: 2px solid #2874f0;
}
.productDescContainer{
  width: 485px;
}
.productDescImgContainer{
  width: 485px;
  height: 440px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #f0f0f0;
}
.productDescImgContainer > img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.breed ul{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.breed ul li{
  list-style: none;
  margin-right: 5px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.breed ul li a{
  text-decoration: none;
  color: #777;
  display: inline-block;
  font-size: 12px;
  margin: 0 10px;
}
.productDetails{
  margin: 0 10px;
}
.productDetails .productTitle{
  font-size: 18px;
  color: #212121;
  font-weight: 400;
}
.ratingCount{
  display: inline-block;
  background: #388e3c;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px 5px;
}
.ratingNumbersReviews{
  font-size: 12px;
  color: #777;
  font-weight: 600;
  display: inline-block;
  margin: 0 10px;
}
.extraOffer, .discount{
  color: #388e3c;
  font-size: 12px;
  margin: 10px 0px;
  font-weight: 600;
}
.priceContainer{
  align-items: center;
}
.price{
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
  /* Material Button */
  .btnAddtoCart{
    width: 100%;
    display: inline-block;
    padding: 15px;
    font-size: 15px;
    outline: none;
    background-color: #ff9f00;
    color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    cursor: pointer;
    border-radius: 2px;
}
.btnBuyNow{
  width: 100%;
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  outline: none;
  background-color: #fb641b;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
.btnAddtoCart:hover{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
}
.btnBuyNow:hover{
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
}

/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}

.star{
  cursor: pointer;
  transition: color 200ms;
}
.rattingInput{
  display: none;
}

.form-inline{
  margin-left: 40%;

}
.dropdown{
   padding-right: 1rem;
   margin-right: 6rem;
   margin-top: 0.2rem;
   font-size: 17px;
}
.searchInputContainer {
    width: 560px;
    position: relative;
    background: #fff;
    height: 36px;
    border-radius: 1px;
    overflow: hidden;
    display: flex;
  }
.searchInput {
    width: 518px;
    border: 0;
    height: 36px;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;
  }
.searchIconContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
 
  main{
    padding-top: 20px;
  }
  
.details{
    padding-top: 150px;
  }
  .success {
    color: #20a020;
  }
  .danger {
    color: #a02020;
  }
  .color-primary{
    background-color: lightgray;
  }